.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: 0px;
}
.field{
    display: inline-block;

}
.body{
    background-color: rgb(200, 200, 200);
}