*{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width:95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: 0px;
}
.menu{
    margin-top: 6px;
}
.canvas{
    position: fixed;
    display: block;
    top: 5vh;
    left: 0;
    width: 100vw;
    height: 94vh;
}
.inputField{
    width: 50px;
}